{% block blog %}
<html>
<body>

                            <h1>{{blog.heading}}</h1>
                                {{blog.content|safe}}
<h3>Comments</h3>
<form action="" method="post" id="comment_form">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <input type="submit" value="Go!">
</form>
{% for comment in comments %}

        {{comment.content|safe}}
{% endfor %}


{% endblock %}
</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script language="JavaScript">
    $(document).ready(function() {
        $('#comment_form').submit(function() { // catch the form's submit event
            $.ajax({ // create an AJAX call...
                data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: $(this).attr('action'), // the file to call
                success: function(response) { // on success..
                    console.log('ok')
                  }
                });
              })
            };
          );
                
